<footer class="row-fluid aleft">
    <div id="links">

    <div class="container">
        <div class="col-md-2">
            <img src="{{ paths.theme }}assets/images/logo-white-vertical.png" alt="">
        </div>
        <div class="col-md-2">
            {{ menu('footer_col_1', '_menu_footer.twig') }}
        </div>
        <div class="col-md-2">
            {{ menu('footer_col_2', '_menu_footer.twig') }}
        </div>
        <div class="col-md-2">
            {{ menu('footer_col_3', '_menu_footer.twig') }}
        </div>
        <div class="col-md-4 pull-right">
            {{ menu('footer_col_4', '_menu_footer.twig') }}
        </div>
    </div>
    </div>
    <div id="copy">
        <div class="container acenter padding-md">
            <div class="row-fluid">
                <div class="col-md-12">
                    <span class="uppercase">
                        Copyright &copy; 2015 MALANG PHP USER GROUP . ALL RIGHTS RESERVED
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ paths.theme }}vendor/components/jquery/jquery.min.js"></script>
<script src="{{ paths.theme }}vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ paths.theme }}assets/js/less.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="{{ paths.theme }}assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>
</html>
