{% include '_head.twig' %}
{% include '_sub_page_header.twig' %}

<section class="page-title aleft">
    <div class="mask mask-red">&nbsp;</div>
        <div class="container">
            {% setcontent speaker = 'members' where {id : record.speaker} %}

            <div class="col-md-6">
                <h3>{{ record.title }}</h3>
            </div>
            <div class="col-md-6 aright btn-area">
            <a href="{{ speaker.link }}" class="active"><i class="fa fa-bullhorn"></i> <strong>Speakers: </strong>{{ speaker.name }}</a>
            {% if record.completed != true %}
                <a href="{{ record.reserveurl }}" class="active"><i class="fa fa-paper-plane"></i> Reserve Now</a>
            {% else %}
                <a href="{{ record.reserveurl }}"><i class="fa fa-close"></i> Completed</a>
            {% endif %}
            </div>
        </div>
</section>


<section class="content row-fluid red" id="post-detail">

    <div id="meta" class="row-fluid">
        <div class="container">
           <ul>
               <li class="col-md-2">
                   <i class="fa fa-calendar"></i>
                   <span>{{ record.start_date|date("M d, Y") }}</span>
               </li>
               <li class="col-md-2">
                   <i class="fa fa-clock-o"></i>
                   <span>{{ record.start_date|date("H:i") }}</span>
               </li>
               <li class="col-md-2">
                   <i class="fa fa-map-marker"></i>
                   <span>{{ record.venue }}</span>
               </li>
               <li class="col-md-2">
                   <a href="{{ record.galleryurl }}"><i class="fa fa-photo"></i>
                   <span>Gallery</span></a>
               </li>
               <li class="col-md-2">
                   <a href="{{ record.slideurl }}"><i class="fa fa-download"></i>
                   <span>Download Slide</span></a>
               </li>
           </ul>
        </div>
    </div>


    <div class="container" id="content">


        <p class="desc">
            {{ record.description|striptags|raw }}
        </p>

        <div id="attendance">
            <div class="acenter">
                {% if record.completed != true %}
                    <a href="{{ record.reserveurl }}" class="btn btn-xlg cta"><i class="fa fa-paper-plane"></i> Reserve Now!</a>
                {% else %}
                <a href="{{ record.reserveurl }}" class="btn btn-xlg cta"><i class="fa fa-close"></i> Completed</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% include '_footer.twig' %}
